## WEEK 5 Peer Graded Assignment - Introduction to Deep Learning & Neural Networks with Keras

## B. Normalize the Data

### Download & Clean Dataset

In [1]:
import pandas as pd
import numpy as np

In [3]:
concrete_data = pd.read_csv('https://cocl.us/concrete_data')
concrete_data.head()

,Cement,Blast Furnace Slag,Fly Ash,Water,Superplasticizer,Coarse Aggregate,Fine Aggregate,Age,Strength
0,540.0,0.0,0.0,162.0,2.5,1040.0,676.0,28,79.99
1,540.0,0.0,0.0,162.0,2.5,1055.0,676.0,28,61.89
2,332.5,142.5,0.0,228.0,0.0,932.0,594.0,270,40.27
3,332.5,142.5,0.0,228.0,0.0,932.0,594.0,365,41.05
4,198.6,132.4,0.0,192.0,0.0,978.4,825.5,360,44.30

In [4]:
concrete_data.shape

(1030, 9)

In [5]:
concrete_data.describe()

,Cement,Blast Furnace Slag,Fly Ash,Water,Superplasticizer,Coarse Aggregate,Fine Aggregate,Age,Strength
count,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000
mean,281.167864,73.895825,54.188350,181.567282,6.204660,972.918932,773.580485,45.662136,35.817961
std,104.506364,86.279342,63.997004,21.354219,5.973841,77.753954,80.175980,63.169912,16.705742
min,102.000000,0.000000,0.000000,121.800000,0.000000,801.000000,594.000000,1.000000,2.330000
25%,192.375000,0.000000,0.000000,164.900000,0.000000,932.000000,730.950000,7.000000,23.710000
50%,272.900000,22.000000,0.000000,185.000000,6.400000,968.000000,779.500000,28.000000,34.445000
75%,350.000000,142.950000,118.300000,192.000000,10.200000,1029.400000,824.000000,56.000000,46.135000
max,540.000000,359.400000,200.100000,247.000000,32.200000,1145.000000,992.600000,365.000000,82.600000

In [6]:
concrete_data_columns = concrete_data.columns
predictors = concrete_data[concrete_data_columns[concrete_data_columns != 'Strength']] # all columns except Strength
target = concrete_data['Strength'] # Strength column

In [7]:
predictors.head()

,Cement,Blast Furnace Slag,Fly Ash,Water,Superplasticizer,Coarse Aggregate,Fine Aggregate,Age
0,540.0,0.0,0.0,162.0,2.5,1040.0,676.0,28
1,540.0,0.0,0.0,162.0,2.5,1055.0,676.0,28
2,332.5,142.5,0.0,228.0,0.0,932.0,594.0,270
3,332.5,142.5,0.0,228.0,0.0,932.0,594.0,365
4,198.6,132.4,0.0,192.0,0.0,978.4,825.5,360

In [8]:
target.head()

0    79.99
1    61.89
2    40.27
3    41.05
4    44.30
Name: Strength, dtype: float64

In [10]:
predictors_norm = (predictors - predictors.mean()) / predictors.std()
predictors_norm.head()

,Cement,Blast Furnace Slag,Fly Ash,Water,Superplasticizer,Coarse Aggregate,Fine Aggregate,Age
0,2.476712,-0.856472,-0.846733,-0.916319,-0.620147,0.862735,-1.217079,-0.279597
1,2.476712,-0.856472,-0.846733,-0.916319,-0.620147,1.055651,-1.217079,-0.279597
2,0.491187,0.795140,-0.846733,2.174405,-1.038638,-0.526262,-2.239829,3.551340
3,0.491187,0.795140,-0.846733,2.174405,-1.038638,-0.526262,-2.239829,5.055221
4,-0.790075,0.678079,-0.846733,0.488555,-1.038638,0.070492,0.647569,4.976069

In [11]:
n_cols = predictors_norm.shape[1] # number of predictors
n_cols

8

In [12]:
import keras

In [13]:
from keras.models import Sequential
from keras.layers import Dense

In [14]:
# define regression model
def regression_model():
    # create model
    model = Sequential()
    model.add(Dense(10, activation='relu', input_shape=(n_cols,)))
    model.add(Dense(1))
    
    # compile model
    model.compile(optimizer='adam', loss='mean_squared_error')
    return model

In [15]:
from sklearn.model_selection import train_test_split

In [16]:
X_train, X_test, y_train, y_test = train_test_split(predictors_norm, target, test_size=0.3, random_state=42)

### Train & Test the Network

In [17]:
# build the model
model = regression_model()

In [18]:
# fit the model
epochs = 50
model.fit(X_train, y_train, epochs=epochs, verbose=2)

Epoch 1/50
23/23 - 0s - loss: 1609.0969
Epoch 2/50
23/23 - 0s - loss: 1597.0940
Epoch 3/50
23/23 - 0s - loss: 1585.7938
Epoch 4/50
23/23 - 0s - loss: 1574.9559
Epoch 5/50
23/23 - 0s - loss: 1564.4225
Epoch 6/50
23/23 - 0s - loss: 1553.7747
Epoch 7/50
23/23 - 0s - loss: 1542.9956
Epoch 8/50
23/23 - 0s - loss: 1531.6835
Epoch 9/50
23/23 - 0s - loss: 1519.5577
Epoch 10/50
23/23 - 0s - loss: 1506.3210
Epoch 11/50
23/23 - 0s - loss: 1491.9958
Epoch 12/50
23/23 - 0s - loss: 1476.1923
Epoch 13/50
23/23 - 0s - loss: 1459.2269
Epoch 14/50
23/23 - 0s - loss: 1440.6028
Epoch 15/50
23/23 - 0s - loss: 1420.5504
Epoch 16/50
23/23 - 0s - loss: 1398.7688
Epoch 17/50
23/23 - 0s - loss: 1375.1156
Epoch 18/50
23/23 - 0s - loss: 1349.9304
Epoch 19/50
23/23 - 0s - loss: 1322.9608
Epoch 20/50
23/23 - 0s - loss: 1294.2941
Epoch 21/50
23/23 - 0s - loss: 1263.7977
Epoch 22/50
23/23 - 0s - loss: 1232.0830
Epoch 23/50
23/23 - 0s - loss: 1198.0465
Epoch 24/50
23/23 - 0s - loss: 1163.3778
Epoch 25/50
23/23 - 0s - loss: 1126.4136
Epoch 26/50
23/23 - 0s - loss: 1088.3188
Epoch 27/50
23/23 - 0s - loss: 1049.2671
Epoch 28/50
23/23 - 0s - loss: 1009.9111
Epoch 29/50
23/23 - 0s - loss: 969.5805
Epoch 30/50
23/23 - 0s - loss: 929.3533
Epoch 31/50
23/23 - 0s - loss: 889.0085
Epoch 32/50
23/23 - 0s - loss: 849.1884
Epoch 33/50
23/23 - 0s - loss: 809.7604
Epoch 34/50
23/23 - 0s - loss: 770.7877
Epoch 35/50
23/23 - 0s - loss: 732.6443
Epoch 36/50
23/23 - 0s - loss: 696.3622
Epoch 37/50
23/23 - 0s - loss: 660.4491
Epoch 38/50
23/23 - 0s - loss: 626.6066
Epoch 39/50
23/23 - 0s - loss: 593.5996
Epoch 40/50
23/23 - 0s - loss: 563.0558
Epoch 41/50
23/23 - 0s - loss: 533.4833
Epoch 42/50
23/23 - 0s - loss: 506.1437
Epoch 43/50
23/23 - 0s - loss: 480.2306
Epoch 44/50
23/23 - 0s - loss: 455.5196
Epoch 45/50
23/23 - 0s - loss: 433.1793
Epoch 46/50
23/23 - 0s - loss: 412.0110
Epoch 47/50
23/23 - 0s - loss: 392.6335
Epoch 48/50
23/23 - 0s - loss: 374.6073
Epoch 49/50
23/23 - 0s - loss: 358.2683
Epoch 50/50
23/23 - 0s - loss: 343.2327

In [19]:
loss_val = model.evaluate(X_test, y_test)
y_pred = model.predict(X_test)
loss_val

10/10 [==============================] - 0s 2ms/step - loss: 295.4081

295.4080810546875

In [20]:
from sklearn.metrics import mean_squared_error

In [21]:
mean_square_error = mean_squared_error(y_test, y_pred)
mean = np.mean(mean_square_error)
standard_deviation = np.std(mean_square_error)
print(mean, standard_deviation)

295.40808040816415 0.0

In [22]:
total_mean_squared_errors = 50
epochs = 50
mean_squared_errors = []
for i in range(0, total_mean_squared_errors):
    X_train, X_test, y_train, y_test = train_test_split(predictors_norm, target, test_size=0.3, random_state=i)
    model.fit(X_train, y_train, epochs=epochs, verbose=0)
    MSE = model.evaluate(X_test, y_test, verbose=0)
    print("MSE "+str(i+1)+": "+str(MSE))
    y_pred = model.predict(X_test)
    mean_square_error = mean_squared_error(y_test, y_pred)
    mean_squared_errors.append(mean_square_error)

mean_squared_errors = np.array(mean_squared_errors)
mean = np.mean(mean_squared_errors)
standard_deviation = np.std(mean_squared_errors)

print('\n')
print("Below is the mean and standard deviation of " +str(total_mean_squared_errors) + " mean squared errors with normalized data. Total number of epochs for each training is: " +str(epochs) + "\n")
print("Mean: "+str(mean))
print("Standard Deviation: "+str(standard_deviation))

MSE 1: 143.09896850585938
MSE 2: 122.55445861816406
MSE 3: 84.89927673339844
MSE 4: 80.35350036621094
MSE 5: 76.9066390991211
MSE 6: 83.15807342529297
MSE 7: 79.85060119628906
MSE 8: 64.66033935546875
MSE 9: 54.71854782104492
MSE 10: 44.287994384765625
MSE 11: 42.532859802246094
MSE 12: 37.53315734863281
MSE 13: 45.129764556884766
MSE 14: 43.544654846191406
MSE 15: 38.06812286376953
MSE 16: 33.16666793823242
MSE 17: 39.95878982543945
MSE 18: 38.03688049316406
MSE 19: 35.31836700439453
MSE 20: 36.59320831298828
MSE 21: 35.85749435424805
MSE 22: 35.498252868652344
MSE 23: 31.22046661376953
MSE 24: 34.5001335144043
MSE 25: 37.40786361694336
MSE 26: 37.74849319458008
MSE 27: 35.08042526245117
MSE 28: 34.06953430175781
MSE 29: 39.99781036376953
MSE 30: 38.4703254699707
MSE 31: 32.926048278808594
MSE 32: 34.68132781982422
MSE 33: 33.21076202392578
MSE 34: 35.338348388671875
MSE 35: 35.176483154296875
MSE 36: 41.79148864746094
MSE 37: 32.10076141357422
MSE 38: 37.88658905029297
MSE 39: 35.851165771484375
MSE 40: 30.952190399169922
MSE 41: 38.08706283569336
MSE 42: 29.803281784057617
MSE 43: 37.303977966308594
MSE 44: 39.70045852661133
MSE 45: 37.89887237548828
MSE 46: 37.99286651611328
MSE 47: 34.519744873046875
MSE 48: 36.78074264526367
MSE 49: 36.964324951171875
MSE 50: 39.580909729003906


Below is the mean and standard deviation of 50 mean squared errors with normalized data. Total number of epochs for each training is: 50

Mean: 46.05538173596591
Standard Deviation: 22.707173895067747